// googel fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// importing fonts
@font-face {
    font-family: "Gotham";
    src: url("./assets/fonts/Gotham-Bold.eot");
    src: url("./assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
      url("./assets/fonts/Gotham-Bold.woff2") format("woff2"),
      url("./assets/fonts/Gotham-Bold.woff") format("woff"),
      url("./assets/fonts/Gotham-Bold.ttf") format("truetype"),
      url("./assets/fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham Narrow";
    src: url("./assets/fonts/GothamNarrow-Bold.eot");
    src: url("./assets/fonts/GothamNarrow-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GothamNarrow-Bold.woff2") format("woff2"),
      url("./assets/fonts/GothamNarrow-Bold.woff") format("woff"),
      url("./assets/fonts/GothamNarrow-Bold.ttf") format("truetype"),
      url("./assets/fonts/GothamNarrow-Bold.svg#GothamNarrow-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

/* ##### VARIABLES ##### */
// colors
$color-white: #fff;
$color-black: #000;
$color-primary: #1565d8;
$color-blue: #183b56;
$color-blue-dark: #0d2436;
$color-gray: #5a7184;
$color-mint: #36b37e;
// font family stack
$font-family-opensans: "Open Sans", sans-serif;
$font-family-gotham: "Gotham";
$font-family-gotham-narrow: "Gotham Narrow";
// gradient
$overlay-gradient: linear-gradient(
  180deg,
  rgba(24, 59, 86, 0) 0%,
  #152532 100%
);

$default-transition: all 300ms ease-in-out;
// breakpoints
$breakpoints-up: (
  "xs": "480px",
  "sm": "576px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1400px",
);

$breakpoints-down: (
  "xs": "479.98px",
  "sm": "575.98px",
  "md": "767.98px",
  "lg": "991.98px",
  "xl": "1199.98px",
  "xxl": "1399.98px",
);
// typography
$typography-font-size: 18px;
$typography-font-weight: 400;

// mixins
@mixin breakpoint-up($size){
  @media (min-width: map-get($breakpoints-up, $size)){
    @content;
  }
}

@mixin breakpoint-down($size){
  @media (max-width: map-get($breakpoints-down, $size)){
    @content;
  }
}

// reset
*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body{
  min-height: 100vh;
  font-size: $typography-font-size;
  font-weight: $typography-font-weight;
  height: 100%;
  font-family: $font-family-opensans;
}

ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: unset;
  transition: $default-transition;

  &:focus,
  &:hover{
    color: unset;
  }
}

button{
  cursor: pointer;
  transition: $default-transition;
}

img, svg{
  max-width: 100%;
  display: block;
  width: 100%;
}

input, button, textarea, select{
  font: inherit;
  outline: 0;
}
h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}
textarea{
  resize: none;
}

button{
  background-color: transparent;
  border: none;
}

// utility classes
.bg-white{
  background-color:$color-white;
}
.bg-black{
  background-color: $color-black;
}
.bg-primary{
  background-color: $color-primary;
}
.bg-blue{
  background-color: $color-blue;
}
.bg-gray{
  background-color: $color-gray;
}
.bg-mint{
  background-color: $color-mint;
}
.bg-blue-dark{
  background-color: $color-blue-dark;
}

.text-white{
  color: $color-white;
}
.text-black{
  color: $color-black;
}
.text-primary{
  color: $color-primary;
}
.text-blue{
  color: $color-blue;
}
.text-gray{
  color: $color-gray;
}
.text-mint{
  color: $color-mint;
}

.container{
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;

  @include breakpoint-down(xs){
    padding: 0 12px;
  }
}

// flexbox and grid
.flex{
  display: flex;
  &-col{
    flex-direction: column;
  }
  &-wrap{
    flex-wrap: wrap;
  }
  &-inline{
    display: inline-flex;
  }
  &-1{
    flex: 1;
  }
}

.items{
  &-center{
    align-items: center;
  }
  &-start{
    align-items: flex-start;
  }
  &-end{
    align-items: flex-end;
  }
  &-stretch{
    align-items: stretch;
  }
}

.justify{
  &-center{
    justify-content: center;
  }
  &-between{
    justify-content: space-between;
  }
  &-start{
    justify-content: flex-start;
  }
  &-end{
    justify-content: flex-end;
  }
}

.grid{
  display: grid;
}

// height and width
.h-full{
  height: 100%;
}
.w-full{
  width: 100%;
}

// text alignment
.text{
  &-center{
    text-align: center;
  }
  &-start{
    text-align: left;
  }
  &-end{
    text-align: right;
  }
  &-justify{
    text-align: justify;
  }
} 

// text transformation
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}

// typography
p{
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  margin-bottom: 0;
}
* + h1, * + h2, * + h3, * + h5, * + h6{
  margin-top: 12px;
}

.text{
  font-weight: 400;
  color: $color-gray;
  line-height: 1.6;
}

.text-sm{
  font-size: 14px;
}
.text-base{
  font-size: 16px;
}
.text-lg{
  font-size: 18px;
}
.text-xl{
  font-size: 20px;
}
.text-xxl{
  font-size: 24px;
}

@include breakpoint-down(lg){
  .text-sm{
    font-size: 12px;
  }
  .text-base{
    font-size: 14px;
  }
  .text-lg{
    font-size: 16px;
  }
  .text-xl{
    font-size: 18px;
  }
  .text-xxl{
    font-size: 22px;
  }
}

@include breakpoint-down(sm){
  .text-sm{
    font-size: 12px;
  }
  .text-base{
    font-size: 14px;
  }
  .text-lg{
    font-size: 16px;
  }
  .text-xl{
    font-size: 18px;
  }
  .text-xxl{
    font-size: 20px;
  }
}

.nowrap{
  white-space: nowrap;
}

.object-fit-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// buttons
.btn{
  height: 48px;
  min-width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;

  &:has(.btn-icon){
    .btn-icon{
      margin-left: 16px;
      margin-top: -4px;
    }
  }

  @include breakpoint-down(lg){
    font-size: 15px;
  }
}

.btn-primary{
  background-color: $color-primary;
  color: $color-white;

  &:hover{
    background-color: #1257b9;
  }
}

.btn-o-primary{
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover{
    background-color: $color-primary;
    color: $color-white;
  }
}

// badge
.badge{
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 102px;
  border-radius: 100vh;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;

  @include breakpoint-down(lg){
    font-size: 14px;
  }
  @include breakpoint-down(sm){
    font-size: 13px;
  }
}

.badge-primary{
  background-color: rgb(54, 179, 126, 0.1);
  color: $color-primary;
}

.badge-mint{
  background-color: $color-white;
  color: $color-mint;
}

// title
.title{
  font-family: $font-family-gotham;
  color: $color-blue;
  font-weight: 700;
}
.title-lg{
  font-size: 36px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.title-base{
  font-size: 28px;
  margin-bottom: 24px;
}

@include breakpoint-down(lg){
  .title-lg{
    font-size: 28px;
    margin-bottom: 24px;
  }
  .title-base{
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@include breakpoint-down(md){
  .title-lg{
    font-size: 22px;
  }
}

.featured-sc{
  max-width: 1140px;
  border: 1px soild #e5eaf4;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
  border-radius: 16px;
  margin: -200px auto 48px auto;
  position: relative;
}

.section{
  &-head{
    margin-bottom: 48px;

    .title{
      margin-bottom: 16px;
    }

    .sc-head-l{
      width: 50%;
    }

    @include breakpoint-down(lg){
      flex-direction: column;
      row-gap: 16px;

      .sc-head-l, .sc-head-r{
        width: 100%;
      }
    }
  }

  &-btn{
    margin-top: 48px;
  }
}

.popular-sc{
  margin: 48px 0;

  .card{
    &-footer{
      .intro-name,
      .date-info{
        color: $color-white;
      }
    }
  }
}

.recent-sc{
  .card{
    height: 500px;
  }
}

.case-sc{
  margin: 48px 0;
  .card-grid{
    border-radius: 16px;
    border: 1px solid #e5eaf4;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.03);
    overflow: hidden;
  }
}

.all-sc{
  .card-list{
    &:nth-child(2){
      margin-bottom: 30px;
    }

    &:nth-child(3){
      .card{
        height: 500px;
      }
    }
  }
}

.newsletter-curve{
  margin-bottom: -2px;
}

.newsletter-sc{
  .newsletter-content{
    padding-bottom: 96px;
    gap: 120px;
    border-bottom: 1px solid #1a3245;

    @include breakpoint-down(lg){
      grid-template-columns: repeat(1, 1fr);
      gap: 48px;

      .newsletter-l{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 580px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;

        .form-group{
          justify-content: center;
        }
      }

      .newsletter-r{
        display: flex;
        justify-content: center;
      }
    }

    @include breakpoint-down(md){
      max-width: 100%;
    }
  }

  // newsletter left
  .newsletter-l{
    .title{
      color: $color-white;
    }
  
    .form-group{
      column-gap: 8px;
      margin-bottom: 24px;
  
      .form-input{
        height: 56px;
        width: 320px;
        padding: 16px;
        border-radius: 8px;
        border: none;
        width: 100%;
  
        &::placeholder{
          color: $color-gray;
          opacity: 0.8;
        }
      }
  
      .btn{
        height: 56px;
        font-size: 18px;
        padding-left: 32px;
        padding-right: 32px;
      }
  
      @include breakpoint-down(lg){
        .form-input,
        .btn{
          height: 48px;
        }
      }
  
      @include breakpoint-down(sm){
        flex-direction: column;
        row-gap: 12px;
      }
    }
  }

  .newsletter-info{
    max-width: 466px;
    border-radius: 16px;
    padding: 8px;
    position: relative;
  
    &-wrapper{
      border-radius: 16px;
      position: relative;
    }
  
    .info-img{
      border-radius: 12px;
      overflow: hidden;
      height: 212px;
    }
  
    .info-text{
      padding: 32px 20px 24px 20px;
      .title{
        margin-bottom: 12px;
      }
    }
  
    &::before{
      content: "";
      position: absolute;
      top: 42px;
      right: -50px;
      background-color: $color-primary;
      border-radius: 16px;
      width: 236px;
      height: 200px;
    }
  
    &::after{
      content: "";
      position: absolute;
      left: -60px;
      bottom: -42px;
      background-color: $color-white;
      opacity: 0.05;
      border-radius: 16px;
      width: 236px;
      height: 200px;
    }
  
    @include breakpoint-down(md){
      &::before{
        right: -16px;
      }
  
      &::after{
        left: -16px;
        bottom: -16px;
      }
    }
  
    @include breakpoint-down(sm){
      &::before{
        right: 0px;
      }
  
      &::after{
        left: 0;
        bottom: 0;
      }
    }
  }

  @include breakpoint-down(lg){
    padding-top: 24px;
  }
}





// grid
.grid-cols{
  display: grid;
  gap: 30px;

  &-2{
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-down(md){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-3{
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint-down(lg){
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(md){
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .card-content{
    padding: 40px 32px;

    @include breakpoint-down(lg){
      padding: 16px;
    }
  }

  @include breakpoint-down(lg){
    gap: 16px;
  }
}

form{
  .btn,
  input::placeholder{
    @include breakpoint-down(lg){
      font-size: 16px!important;
    }
  }
}

.page-wrapper{
  overflow: hidden;
}